@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

h1 {
  font-size: 2.5rem;
  line-height: 2.75rem;
}

h2 {
  font-size: 2rem;
  line-height: 2.75rem;
}

h3 {
  font-size: 1.75rem;
  line-height: 2.75rem;
}

h4 {
  font-size: 1.5rem;
  line-height: 2rem;
}

h5 {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

h6 {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.content p {
  margin-bottom: 10px;
  line-height: 1.5em;
}

.content th p {
  margin: 0;
}

.content td p {
  margin: 0;
}

.content ul {
  list-style: disc;
  padding: 5px;
  margin: 15px;
}

.content ol {
  list-style: decimal;
  padding: 5px;
  margin: 0 15px 10px;
}

.content ol p {
  margin: 0;
}
